*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #edf2f8;
  color: #333;
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

main {
  margin: auto auto 30px auto;
  padding: 0 10% 0 10%;
}

.article-section {
  padding-top: 20%;
}

.box {
  display: flex;
  margin: auto;
  width: 840px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.article-image {
  min-width: 30%;
  max-width: 30%;
  min-height: 300px;
  background-size: cover;
  background-position: left;
  background-image: url('./images/drawers.jpg');
  background-clip: padding-box;
}

.article-content {
  margin: 10px 40px 20px 40px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #4e5565;
}

p {
  color: #737a84; 
}

.article-content p {
  margin-top: 0px;
}

.user-card {
  display: flex;
  padding-top: 10px;
}

.user-avatar {
  margin-right: 20px;
}
.user-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.user-data {
  margin: auto;
  width: 400px;
}

.user-data .author {
  display: block;
}

.author {
  font-weight: 700;
  color: #4d515a;
  font-size: 0.875em;
}

.post-date {
  color: #a9aeb1;
  font-size: 0.75em;
}

/** Share **/
.share-link {
  display: block;
}

.share-button {
  position: relative;
  margin: auto;
  background-color: #eef2fb;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.share-button a {
  width: 50%;
  margin: 50% 0;
}

.share-button:hover {
  background-color: #6b7f98;
  cursor: pointer;
}

.share-button:hover a {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(337deg) brightness(114%) contrast(111%);
}

.share-tooltip-content {
  visibility: hidden;
  width: 210px;
  background-color: #49556b;
  color: #ffffff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 12px 0 12px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0%;
  margin-left: -150px;
  margin-right: 5px;
}

.share-tooltip-content p {
  color: #8e9db2;
  margin: auto;
  padding: 0;
  font-size: 0.75em;
  letter-spacing: 0.4em;
}

.share-inner-buttons {
  color: #8e9db2;
}

.share-inner-buttons img {
  padding: 10px 4px;
  margin: auto;
}

.share-tooltip-content {
  display: flex;
  justify-content: space-between;
}

.share-tooltip-content img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(337deg) brightness(114%) contrast(111%);
}

/** Tooltip Arrow **/
.share-button .share-tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #49556b transparent transparent transparent;
}

.share-button:hover .share-tooltip-content {
  visibility: visible;
}

@media only screen and (max-width: 1600px) {
  body {
    font-size: 18px;
  }
  
  main {
    margin: 30% auto 5% auto;
    padding: 0 5% 0 5%;
  }

  .share-button a {
    width: 64px;
    height: 64px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 0.8em; 
  }

  .box {
    flex-direction: column;
    width: auto;
  }

  .article-image {
    min-width: 100%;
    max-width: 100%;
    background-position: center;
  }

  .share-button a {
    width: 64px;
    height: 64px;
  }

  .article-section {
    padding-top: 0%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    margin: auto auto 30px auto;
    padding: 0 5% 0 5%;
  }
  
  .article-section {
    padding-top: 20%;
  }
}

.attribution { font-size: 11px; text-align: center; margin-bottom: 30px; }
.attribution a { color: hsl(228, 45%, 44%); }